<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
          name="cloudsDotNet"
          type="Clouds.Common.Configuration.CloudsDotNetSection"
          allowLocation="true"
          allowDefinition="Everywhere"
      />
  </configSections>
  <cloudsDotNet>
    <connections>
      <connection name="azure" provider="" connectionString="" />
    </connections>
  </cloudsDotNet>
</configuration>