<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
          name="cloudsDotNet"
          type="Clouds.Common.Configuration.CloudsDotNetSection, Clouds.Common"
          allowLocation="true"
          allowDefinition="Everywhere"
      />
  </configSections>
  <cloudsDotNet>
    <connections>
      <add name="azure" provider="Azure" connectionString="JustAconnection" />
    </connections>
  </cloudsDotNet>
</configuration>