<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="cloudsDotNet" type="Clouds.Common.Configuration.CloudsDotNetSection, Clouds.Common"/>
  </configSections>

  <cloudsDotNet>
    <Connection Name="test" Provider="AWS" ConnectionString="AccessKey=AKIAIVZFGHQYW332IPOA;SecretKey=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"/>
  </cloudsDotNet>

  <appSettings>
    <add key="AWSAccessKey" value="AKIAIVZFGHQYW332IPOA"/>
    <add key="AWSSecretKey" value="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"/>
  </appSettings>
</configuration>